<div class="table-responsive">
    <table id="userList" class="table table-bordered table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cedula</th>
            <th scope="col">Rol</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Username</th>
            <th scope="col">Fecha Nacimiento</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${userList}">
           <td th:text="${user.id}"></td>
            <td th:text="${user.usuCedula}"></td>
            <td th:text="${user.usuIdrol.roldescripcion}"></td>
            <td th:text="${user.usuNombres}"></td>
            <td th:text="${user.usuApellidos}"></td>
            <td th:text="${user.usuUsuario}"></td>
            <td th:text="${user.usuFechanacimiento}"></td>

            <td>

                <a href="#" th:href="@{'/editUser/'+${user.id}}"><i class="fas fa-edit"></i></a> |
                <a href="#"><i class="fas fa-user-times"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error Message</div>

</div>

<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
    window.location = "deleteUser/"+id;
}
</script>